<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Stocks</title>

    <link rel="stylesheet" href="~/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
          crossorigin="anonymous" />
</head>

<body>

    <div class="container">

        <div id="top-bar-div">
            <div class="app-title">
                <i class="fa-solid fa-money-bill-trend-up"></i>
                Stocks Dashboard
            </div>

            <div>
                <button class="button button-primary">
                    Login
                </button>
            </div>
        </div>

        د
        <div class="page-content">
            @RenderBody()
        </div>

    </div>

</body>

</html>